* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Anta", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

    background-color: #282828;
}

header {
    padding: 15px;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;
    width: fit-content;
    background-color: #fabd2f;
    width: 100vw;
    margin-bottom: 15px;
}

#grid-wrapper {
    padding: 15px;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
	width: 70vw;
    background-color: #908374;
    border-radius: 10px;
}

nav {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

a {
    color: #3c3836;
    text-decoration: none;
    background-color: white;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
}

#dashboard {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.editable {
	display: flex;
	flex-direction: column;
	height: fit-content;
}

#account {
    position: absolute;
    right: 10px;
    top: 10px;
}

span {
    font-weight: bold;
}

#items {
	left: 10px;
	top: 10px;
	background: white;
	padding: 10px;
	margin-top: 10px;
	border-radius: 5px;
}

.items {
	background: #908374;
	padding: 10px;
	margin-top: 20px;
	border-radius: 5px;
}


#lottery-spin {
    width: 120px;
    height: auto;
    border-radius: 100%;
}
